# Killer functions
here we'll learn some of the best methods/functions that we'll be using most of the times, whenever we are working on data

1. value_count()
2. sort_values()
3. drop_duplicates()
4. groupby()

In [3]:
import numpy as np
import pandas as pd

data = pd.read_csv('Files/matches.csv')
data.head(2)

# click on the run button to execute the code cell and see the output

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN


### 1. Value_counts()
we use it to count no. of frequencies of categories in categorical columns

In [ ]:
bhalue = data['winner'].value_counts()

winner
Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: count, dtype: int64

### 2. Sort_values()
here you sort values, you can also turn them around in ascending order by passing 'ascending = False', inside the function as argument