# fetching Rows and columns

we use some old concepts we learned during learning the NumPy library and some panda's own indexing methods

    1. data['winner']
    2. fancy indexing in columns {  data[ [c1,c2,c3] ]  }
    3. accesing rows/samples using iloc {  data.iloc[i]  }

In [12]:
import numpy as np
import pandas as pd

data = pd.read_csv('files/matches.csv')

# Display the first few rows of the DataFrame
data.head(3)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN

In [9]:
# now let's print the city column

data['city']

0      Hyderabad
1           Pune
2         Rajkot
3         Indore
4      Bangalore
         ...
631       Raipur
632    Bangalore
633        Delhi
634        Delhi
635    Bangalore
Name: city, Length: 636, dtype: object

In [10]:
# let's print multiple columns using fancy indexing (studied in numpy)

data[['city', 'winner', 'player_of_match']]

          city                       winner player_of_match
0    Hyderabad          Sunrisers Hyderabad    Yuvraj Singh
1         Pune       Rising Pune Supergiant       SPD Smith
2       Rajkot        Kolkata Knight Riders         CA Lynn
3       Indore              Kings XI Punjab      GJ Maxwell
4    Bangalore  Royal Challengers Bangalore       KM Jadhav
..         ...                          ...             ...
631     Raipur  Royal Challengers Bangalore         V Kohli
632  Bangalore  Royal Challengers Bangalore  AB de Villiers
633      Delhi          Sunrisers Hyderabad    MC Henriques
634      Delhi          Sunrisers Hyderabad       DA Warner
635  Bangalore          Sunrisers Hyderabad     BCJ Cutting

[636 rows x 3 columns]

In [11]:
# now let's print rows, which is called as sample in datasets

data.iloc[2]  # first row

id                                                      3
season                                               2017
city                                               Rajkot
date                                           2017-04-07
team1                                       Gujarat Lions
team2                               Kolkata Knight Riders
toss_winner                         Kolkata Knight Riders
toss_decision                                       field
result                                             normal
dl_applied                                              0
winner                              Kolkata Knight Riders
win_by_runs                                             0
win_by_wickets                                         10
player_of_match                                   CA Lynn
venue              Saurashtra Cricket Association Stadium
umpire1                                       Nitin Menon
umpire2                                         CK Nandan
umpire3                                               NaN
Name: 2, dtype: object