In [1]:
import numpy as np
import pandas as pd

In [2]:
myindex = ['maths','chemistry','physics']
mydata = [100,98,97]

marks = pd.Series(data=mydata, index=myindex)
marks.values

array([100,  98,  97], dtype=int64)

In [3]:
pd.Series({'A':10,'B':20,'C':30})

A    10
B    20
C    30
dtype: int64

In [4]:
subs = (pd.read_csv('C:\\Users\\HP\\Downloads\\subs.csv')).squeeze()
# help(pd.read_csv)
# (subs.values)
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [5]:
Kohli = pd.read_csv(r'C:\Users\HP\Downloads\kohli_ipl.csv', index_col='match_no')
Kohli = Kohli.squeeze()
# Kohli[-1]
# subs[-1]

In [6]:
movies = pd.read_csv(r'C:\Users\HP\Downloads\bollywood.csv', index_col='movie').squeeze()
movies.tail()

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [7]:
Kohli[::3]
print(type(Kohli.values))
print(type(pd.Series(sorted(subs))))
print(type(marks.index))
print(type(movies.index))
sorted(subs)

<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.base.Index'>

[33,
 33,
 35,
 37,
 39,
 40,
 40,
 40,
 40,
 42,
 42,
 43,
 44,
 44,
 44,
 45,
 46,
 46,
 48,
 49,
 49,
 49,
 49,
 50,
 50,
 50,
 51,
 54,
 56,
 56,
 56,
 56,
 57,
 61,
 62,
 64,
 65,
 65,
 66,
 66,
 66,
 66,
 67,
 68,
 70,
 70,
 70,
 71,
 71,
 72,
 72,
 72,
 72,
 72,
 73,
 74,
 74,
 75,
 76,
 76,
 76,
 76,
 77,
 77,
 78,
 78,
 78,
 79,
 79,
 80,
 80,
 80,
 81,
 81,
 82,
 82,
 83,
 83,
 83,
 84,
 84,
 84,
 85,
 86,
 86,
 86,
 87,
 87,
 87,
 87,
 88,
 88,
 88,
 88,
 88,
 89,
 89,
 89,
 90,
 90,
 90,
 90,
 91,
 92,
 92,
 92,
 93,
 93,
 93,
 93,
 95,
 95,
 96,
 96,
 96,
 96,
 97,
 97,
 98,
 98,
 99,
 99,
 100,
 100,
 100,
 101,
 101,
 101,
 102,
 102,
 103,
 103,
 104,
 104,
 104,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 105,
 108,
 108,
 108,
 108,
 108,
 108,
 109,
 109,
 110,
 110,
 110,
 111,
 111,
 112,
 113,
 113,
 113,
 114,
 114,
 114,
 114,
 115,
 115,
 115,
 115,
 117,
 117,
 117,
 118,
 118,
 119,
 119,
 119,
 119,
 120,
 122,
 123,
 123,
 123,
 123,
 123,
 124,
 125,
 126,
 127,
 128,
 128,
 129,
 130,
 131,
 131,
 132,
 132,
 134,
 134,
 134,
 135,
 135,
 136,
 136,
 136,
 137,
 138,
 138,
 138,
 139,
 140,
 144,
 145,
 146,
 146,
 146,
 146,
 147,
 149,
 150,
 150,
 150,
 150,
 151,
 152,
 152,
 152,
 153,
 153,
 153,
 154,
 154,
 154,
 155,
 155,
 156,
 156,
 156,
 156,
 157,
 157,
 157,
 157,
 158,
 158,
 159,
 159,
 160,
 160,
 160,
 160,
 162,
 164,
 166,
 167,
 167,
 168,
 170,
 170,
 170,
 170,
 171,
 172,
 172,
 173,
 173,
 173,
 174,
 174,
 175,
 175,
 176,
 176,
 177,
 178,
 179,
 179,
 180,
 180,
 180,
 182,
 183,
 183,
 183,
 184,
 184,
 184,
 185,
 185,
 185,
 185,
 186,
 186,
 186,
 188,
 189,
 190,
 190,
 192,
 192,
 192,
 196,
 196,
 196,
 197,
 197,
 202,
 202,
 202,
 203,
 204,
 206,
 207,
 209,
 210,
 210,
 211,
 212,
 213,
 214,
 216,
 219,
 220,
 221,
 221,
 222,
 222,
 224,
 225,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 233,
 236,
 236,
 237,
 241,
 243,
 244,
 245,
 247,
 249,
 254,
 254,
 258,
 259,
 259,
 261,
 261,
 265,
 267,
 268,
 269,
 276,
 276,
 290,
 295,
 301,
 306,
 312,
 396]

In [8]:
marks
(97) in marks.values

True

In [9]:
# movies mein kitne actors hain jinhone 20 se zyada movies ki hain
actors = movies.value_counts()
actors[actors>20]

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
Shah Rukh Khan      22
Emraan Hashmi       21
Name: count, dtype: int64

In [10]:
Inte = pd.Series([10.0,100.0,25.0])
marks

maths        100
chemistry     98
physics       97
dtype: int64

In [ ]:
Kohli.astype('int16').info()

<class 'pandas.core.series.Series'>
Index: 215 entries, 1 to 215
Series name: runs
Non-Null Count  Dtype
--------------  -----
215 non-null    int16
dtypes: int16(1)
memory usage: 2.1 KB